@{
    ViewBag.Title = "PassUsingViewBag - Backend1";
}
<h1>PassUsingViewBag</h1>
<p>Rand value first: @Model.X</p>
<p>Rand value second: @Model.Y</p>
<p>Add:</p>
<p>@Model.Sum</p>
<p>Dif:</p>
<p>@Model.Dif</p>
<p>Mult:</p>
<p>@Model.Mult</p>
<p>Div:</p>
<p>@Model.Div</p>