@{
    ViewBag.Title = "PassUsingViewBag - Backend1";
}
<h1>PassUsingViewBag</h1>
<p>Rand value first: @ViewBag.X</p>
<p>Rand value second: @ViewBag.Y</p>
<p>Add:</p>
<p>@ViewBag.Sum</p>
<p>Dif:</p>
<p>@ViewBag.Dif</p>
<p>Mult:</p>
<p>@ViewBag.Mult</p>
<p>Div:</p>
<p>@ViewBag.Div</p>
