@{
    ViewBag.Title = "PassUsingViewData - Backend1";
}
<h1>PassUsingViewBag</h1>
<p>Rand value first: @ViewData["X"]</p>
<p>Rand value second: @ViewData["Y"]</p>
<p>Add:</p>
<p>@ViewData["Sum"]</p>
<p>Dif:</p>
<p>@ViewData["Dif"]</p>
<p>Mult:</p>
<p>@ViewData["Mult"]</p>
<p>Div:</p>
<p>@ViewData["Div"]</p>
